@using GridMvc.Html
@model IEnumerable<UniversityManagementSystem.Models.CourseViewModel>

@{
    ViewBag.Title = "Show Course Statics";
}
<hr/>
<h2>View Course Statics</h2>
<hr />
<div class="form-group">
    <label for="DepartmentId">Select Department</label>
    <select id="DepartmentId" name="DepartmentId" class="form-control">
        <option value="">Select Department....</option>

        @foreach (var dept in ViewBag.Departments)
        {
            <option value="@dept.Id">@dept.Name</option>
        }
    </select>
</div>

<table class="table table-striped table-hover">
    <tr class="active">
        <th class="warning">Code</th>
        <th class="info">Name</th>
        <th class="active">Semester</th>
        <th class="warning">Teacher</th>
    </tr>
    <tbody id="myData"></tbody>
</table>

@section scripts{
    <script src="~/Scripts/jquery-2.2.0.js"></script>

    <script>
        $(document).ready(function() {
            $("#DepartmentId").change(function () {
                $("#myData").empty();
                var deptId = $("#DepartmentId").val();
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseInformationByDepartmentId","CourseView")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        $.each(data, function (index, value) {

                            var row = $("<tr><td>" + value.Code + "</td><td>" + value.Name + "</td><td>" + value.Semester + "</td><td>" + value.Teacher + "</td></tr>");
                            $("#myData").append(row);
                        });
                    }
                });
            });
        });
    </script>
<script src="~/Scripts/jquery-2.2.0.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $('.dropdown').hover(function () {
        $('.dropdown-toggle', this).trigger('click');
    });
</script>
}