@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet"/>

<div id="site_content">

    <div class="slideshow">
        <ul class="slideshow">
            <li class="show"><img width="100%" height="300" src="~/images/home_1.jpg" alt="&quot;Administration building&quot;" /></li>
            <li><img width="100%" height="300" src="~/images/home_2.jpg" alt="&quot;Academic building &quot;"/></li>
        </ul>
    </div>
</div>
<div class="jumbotron">
 
    <marquee scrollamount="15"><h2 style="font-size:50px;color:blueviolet">Welcome To Void University Bangladesh!</h2></marquee>
</div>
<div>
    <div>
        <h2><u>Application Features</u></h2>
       
       
            <ul>
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Save Departments</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">View All Department wise Information</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Save Courses</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Save teachers</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Course Assign to Teacher</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">View Course Statics</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Register Student</h4><br/>
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Allocate Classrooms</h4><br/>
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">view class schedule and Room allocation Information</h4>
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Enroll In a course</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Save Student Result</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">View result and can also view in PDF</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Can Unassign All Courese</h4><br />
                <li class="glyphicon glyphicon-hand-right bg-success"></li><h4 style="color: Violet">Can Unallocate All Courses</h4><br/>
                
                
        </ul>
    </div>
    
    
</div>

<script src="~/Scripts/image_slide.js"></script>